
@font-face {
  font-family: 'goorm-sans-bold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/goorm-sans-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}



.reviewContainer {
  width: 800px;
  margin: 0 auto;
}

.reviewContainer h2{
  margin-bottom: 20px;
}

.reveiwAppImage {
  width: 100%;
  margin: 0;
}

.reviewAppContainer > h4 {
  font-family: 'goorm-sans-bold';
}

.reveiwAppImageDiv {
  width: 70px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.reviewProducNameDiv {
  width: 300px;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 63px;
}

.reviewDateP {
  color: #b3b3b3;
  font-size: 12px;
}

.reviewListContainerDiv {
  margin: 50px auto;
}

.reviewAppList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  overflow: hidden;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  min-height: 80px;
}

.reviewAppListLi {
  width: 95%;
  font-family: 'Pretendard-Regular';
}

.reivewListLiDiv {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5px; 
  margin: 0px auto;
}

.reviewWrightBtn {
  width: 75px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #67C6E3;
  color: white;
  font-family: 'goorm-sans-bold';
  cursor: pointer;
}

.reviewWrightBtn2 {
  width: 75px;
  height: 37px;
  border-radius: 5px;
  border: none;
  background-color: #67C6E3;
  color: white;
  font-family: 'goorm-sans-bold';
  cursor: pointer;
}

.reviewList {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  overflow: hidden;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;;
}

.reviewListContainer > h4 {
  margin-top: 30px;
  font-family: 'Pretendard-Regular';
}

.reviewWritebtn:hover {
  background-color: #1478FF;
}

.reviewAListLine {
  border-top: 0.1px solid #67C6E3;
}

.reviewBtnDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 5px 0px;
}

.reviewAppListLiHeight {
  height: 130px;
}