.allProductbBoxContainer {
  width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'goorm-sans-bold';
}

.categoryButtonList {
  height: 20px;
  margin: 0 auto;
  list-style: none;
  margin-bottom: 40px;
}

.categoryButtonList .categoryButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 120px;
  font-family: 'Pretendard-Regular';
}
.categoryButtonList .categoryButton:hover {
  cursor: pointer;
  border-bottom: 3px solid #DFF5FF;
  background-color: rgba(0, 0, 0, 0);
}

.categoryButtonList  .categoryButton:active {
  color: #1478FF;
}

.allProductSelectBtn > ul > li > button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 11px;
  margin-bottom: 5px;
  width: 220px;
}

.productHoverBtnAllDiv {
  position: relative;
  top: -180px;
  right: -70px;
}

.productHoverBtnAllDiv > .allProductSelectBtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 11px;
  margin-bottom: 5px;
  width: 320px;
}

.productHoverBtnAllDiv > .allProductSelectBtn > li > button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  font-family: 'Pretendard-Regular';
  font-size: 1rem;
}

.allProductFilterBtn li > button:active {
  color: #1478FF;
}

.itemCotianerDiv {
  width: 990px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
}

.allProductbListBox {
  width: 100%;
  margin-top: 60px;
}

.productListDiv {
  margin: 0px auto;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productContain {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin: 0px auto;
}

.productListLine {
  border-top: 3px solid #DFF5FF;
  border-bottom: 3px solid #DFF5FF;
  width: 1000px;
}

.categoryNameTitle {
  margin: 0px auto;
  margin-bottom: 30px;
  font-family: 'goorm-sans-bold';
}

.allProductImageList {
  margin: 10px auto;
}
  
.productContent {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
}

.productContent > li {
  display: flex;
  justify-content: space-between;
}

.productDiv {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  justify-content: space-between;
  width: 230px;
  margin: 20px 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  align-items: center;
}

.productImg {
  width: 225px;
  height: 150px;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  margin-bottom: 5px;
  overflow: hidden;
}

.allProductImage {
  width: 225px;
  border-radius: 3px;
  margin-bottom: 10px;
}

.productLine {
  border: 1px solid #d4d4d4;
  margin-bottom: 10px;
  width: 100%;
}

.allProductImageList > h4 {
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
}

.cartWishHoverBtn{
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 50%;
  left: 30%;
  right: 30%;
  z-index: 5;
  justify-content: center;
  align-items: center;

}

.cartWishHoverBtn > .productHoverBtn {
  padding: 5px;
  border: none;
  color: #1478FF;
  border-radius: 5px;
  cursor: pointer;
  background-color: #fff;
  font-family: 'Pretendard-Regular';
  font-weight: 600;
}

.productHoverBtn:hover {
  background-color: #67C6E3;
  color: #fff;
}

.allProductFilterBtn {
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 400px;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5px;
}

.spanCutLine {
  margin: 0px 10px;
}

.sortByBtn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-family: 'Pretendard-Regular';
}

.sortByBtnDiv {
  margin-top: 30px;
}

.bestItemTitle {
  margin: 30px 0px;
}

.movePhysiqueBtn {
  background-color: #67C6E3;
  border-radius: 5px;
  color: white;
  width: 120px;
  height: 40px;
  border: none;
  margin-top: 50px;
}

.movePhysiqueBtn:hover {
  background-color: #1478FF;
}


