.bannerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.mainBannerVideoDiv {
  width: 100%;
  max-width: 1000px;
  height: 350px;
  overflow: hidden;
  margin: 20px auto;
  margin-bottom: 70px;
  border-radius: 5px;
}

.mainBannerVideo {
  width: 100%;
}

@media (max-width: 1000px) {
  .emptyBox{
    width: 400px;
  }
  .mainBannerVideoDiv  {
    height: 50%;
  }
}